
<% @telefono = '+56 9 7348 9836' %>
<% @email = 'habt35@hotmail.com' %>


        <%= render "reutilizable/barra" %>
      
        <div id="section-Inicio">
          <%= render "reutilizable/inicio" %>
        </div>
    
        <div id="section-fotos">
            <%= render "reutilizable/fotos" %>
        </div>

        <div id="section-videos">
          <%= render "reutilizable/videos" %>
        </div>
    
        <div id="section-Contacto">
        <%= render "reutilizable/contacto" %>
        </div>
